<!DOCTYPE HTML>
<html>
<head th:replace="admin/fragments/head :: head"></head>
<body>
	<div id="wrapper">
		<header id="header" th:replace="admin/fragments/header :: header"></header>
		<nav th:replace="admin/fragments/nav :: nav"></nav>
		<div id="main" style="min-height: 600px">
			<div class="inner">
				<h2 id="pageH2" th:text="${projectName}">比较项目名称</h2>
				<div th:replace="admin/fragments/loading :: loading"></div>
				<div id="tableDiv" class="table-wrapper" style="min-height: 400px;display: none;">
					<input type="hidden" id="urlAll" th:value="${urlAll}"/>
					<input type="hidden" id="urlDifferent" th:value="${urlDifferent}"/>
					<input type="hidden" id="tableTdCodes" th:value="${tableTdCodes}"/>
					<input type="hidden" id="titles" th:value="${titles}"/>
					<input type="hidden" id="syncUrl" th:value="${syncUrl}"/>
					<table>
						<thead>
							<tr>
								<th th:each="t:${tableThs}" style="text-align:center" th:text="${t}"/></th>
							</tr>
						</thead>
						<tbody id="data-table"></tbody>
					</table>
					<ul class="actions">
						<li><a id="btnRefresh" href="javascript:Page.refresh();" class="button">隐藏相同</a></li>
					</ul>

					<div>
						<svg width="0" height="0">
							<defs>
								<filter id="goo">
									<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
									<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"></feColorMatrix>
									<feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite>
								</filter>
							</defs>
						</svg>
						<div class="aside-nav bounceInUp animated" id="aside-nav">
							<label class="aside-menu"><span class="fa fa-bolt"></span></label>
							<a href="/" class="menu-item menu-first">首页</a>
							<a href="javascript:Page.refresh();" class="menu-item menu-second">刷新</a>
							<!--<a href="javascript:alert('开发中');" class="menu-item menu-third">诊断</a>-->
							<!--<a href="javascript:alert('开发中');" class="menu-item menu-line menu-fourth">换行菜单</a>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer" th:replace="admin/fragments/footer :: footer"></footer>
	</div>
	<script th:src="@{/assets/common/js/jquery.min.js}"></script>
	<script th:src="@{/assets/common/js/skel.min.js}"></script>
	<script th:src="@{/assets/common/js/toastr.min.js}"></script>
    <script th:src="@{/assets/common/js/asidenav.js}"></script>
	<script th:src="@{/assets/admin/js/main.js}"></script>
	<script th:src="@{/assets/admin/js/util.js}"></script>
	<script th:src="@{/assets/admin/js/compare.js}"></script>
</body>
</html>