<!DOCTYPE HTML>
<html>
<head th:replace="admin/fragments/head :: head"></head>
<body>
	<div id="wrapper">
		<header id="header" th:replace="admin/fragments/header :: header"></header>
		<nav th:replace="admin/fragments/nav :: nav"></nav>
		<div id="main" style="min-height: 600px">
			<div class="inner">
				<h2>服务路由</h2>
				<div th:replace="admin/fragments/loading :: loading"></div>
				<div id="tableDiv" class="table-wrapper" style="min-height: 400px;display: none;">
					<table>
						<thead>
							<tr>
								<th style="text-align:center"></th>
								<th style="text-align:center">环境</th>
								<th style="text-align:center">用户域编号</th>
								<th style="text-align:center">用户域名称</th>
								<th style="text-align:center">配置数量</th>
							</tr>
						</thead>
						<tbody id="data-table">
						</tbody>
					</table>
					<ul class="actions">
						<li><a id="btnRefresh" href="javascript:FwlyPage.compare();" class="button">配置比较</a></li>
						<li><a id="btnClear" href="javascript:FwlyPage.clear();" class="button">取消选中</a></li>
					</ul>

					<div>
						<svg width="0" height="0">
							<defs>
								<filter id="goo">
									<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
									<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"></feColorMatrix>
									<feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite>
								</filter>
							</defs>
						</svg>
						<div class="aside-nav bounceInUp animated" id="aside-nav">
							<label class="aside-menu"><span class="fa fa-bolt"></span></label>
							<a href="/" class="menu-item menu-first">首页</a>
							<a href="javascript:FwlyPage.compare();" class="menu-item menu-second">比较</a>
							<a href="javascript:FwlyPage.clear();" class="menu-item menu-third">清空</a>
							<!--<a href="javascript:alert('开发中');" class="menu-item menu-fourth">诊断</a>-->
							<!--<a href="javascript:alert('开发中');" class="menu-item menu-line menu-fourth">换行菜单</a>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer" th:replace="admin/fragments/footer :: footer"></footer>
	</div>
	<script th:src="@{/assets/common/js/jquery.min.js}"></script>
	<script th:src="@{/assets/common/js/skel.min.js}"></script>
	<script th:src="@{/assets/common/js/toastr.min.js}"></script>
	<script th:src="@{/assets/common/js/asidenav.js}"></script>
	<script th:src="@{/assets/admin/js/main.js}"></script>
	<script th:src="@{/assets/admin/js/util.js}"></script>
	<script th:src="@{/assets/admin/js/fwly.js}"></script>
</body>
</html>