<!DOCTYPE HTML>
<html>
<head th:replace="admin/fragments/head :: head"></head>
<body>
	<div id="wrapper">
		<header id="header" th:replace="admin/fragments/header :: header"></header>
		<nav th:replace="admin/fragments/nav :: nav"></nav>
		<div id="main" style="min-height: 600px">
			<div class="inner">
				<h2>路由配置比较</h2>
				<div id="loadingDiv" style="height:300px;" align="center"><img th:src="@{/assets/public/img/loading.gif}"></div>
				<div id="tableDiv" class="table-wrapper" style="min-height: 400px;display: none;">
					<input type="hidden" id="envA" th:value="${a}"/>
					<input type="hidden" id="envB" th:value="${b}"/>
					<table>
						<thead>
							<tr>
								<th style="text-align:center">#</th>
								<th style="text-align:center">服务名称</th>
								<th style="text-align:center">第三方服务方法</th>
								<th style="text-align:center" id="thEnvA">环境A</th>
								<th style="text-align:center" id="thEnvB">环境B</th>
							</tr>
						</thead>
						<tbody id="data-table">
						</tbody>
					</table>
					<ul class="actions">
						<li><a id="btnRefresh" href="javascript:FwlyComparePage.refresh();" class="button">隐藏相同</a></li>
					</ul>
				</div>
			</div>
		</div>
		<footer id="footer" th:replace="admin/fragments/footer :: footer"></footer>
	</div>
	<script th:src="@{/assets/common/js/jquery.min.js}"></script>
	<script th:src="@{/assets/common/js/skel.min.js}"></script>
	<script th:src="@{/assets/common/js/toastr.min.js}"></script>
	<script th:src="@{/assets/admin/js/main.js}"></script>
	<script th:src="@{/assets/admin/js/util.js}"></script>
	<script th:src="@{/assets/admin/js/fwlyCompare.js}"></script>
</body>
</html>