<!DOCTYPE HTML>
<html>
<head th:replace="admin/fragments/head :: head"></head>
<body>
	<div id="wrapper">
		<header id="header" th:replace="admin/fragments/header :: header"></header>
		<nav th:replace="admin/fragments/nav :: nav"></nav>
		<div id="main" style="min-height: 600px">
			<div class="inner">
				<h2>服务路由</h2>
				<div id="loadingDiv" style="height:300px;" align="center"><img th:src="@{/assets/public/img/loading.gif}"></div>
				<div id="tableDiv" class="table-wrapper" style="min-height: 400px;display: none;">
					<table>
						<thead>
							<tr>
								<th style="text-align:center"></th>
								<th style="text-align:center">环境类型</th>
								<th style="text-align:center">用户域编号</th>
								<th style="text-align:center">用户域名称</th>
								<th style="text-align:center">已配置路由数量</th>
							</tr>
						</thead>
						<tbody id="data-table">
						</tbody>
					</table>
					<ul class="actions">
						<li><a id="btnRefresh" href="javascript:FwlyPage.compare();" class="button">配置比较</a></li>
						<li><a id="btnClear" href="javascript:FwlyPage.clear();" class="button">取消选中</a></li>
					</ul>
				</div>
			</div>
		</div>
		<footer id="footer" th:replace="admin/fragments/footer :: footer"></footer>
	</div>
	<script th:src="@{/assets/common/js/jquery.min.js}"></script>
	<script th:src="@{/assets/common/js/skel.min.js}"></script>
	<script th:src="@{/assets/admin/js/main.js}"></script>
	<script th:src="@{/assets/admin/js/util.js}"></script>
	<script th:src="@{/assets/common/js/toastr.min.js}"></script>
	<script th:src="@{/assets/admin/js/fwly.js}"></script>
</body>
</html>