<!DOCTYPE HTML>
<html>
<head th:replace="admin/fragments/head :: head"></head>
<body>
	<div id="wrapper">
		<header id="header" th:replace="admin/fragments/header :: header"></header>
		<nav th:replace="admin/fragments/nav :: nav"></nav>
		<div id="main" style="min-height: 600px">
			<div class="inner">
				<h2>配置概览</h2>
				<div class="table-wrapper">
					<table>
						<thead>
						<tr>
							<th style="text-align:center"></th>
							<th style="text-align:center">开发环境</th>
							<th style="text-align:center">测试环境</th>
							<th style="text-align:center">突击队测试环境</th>
							<th style="text-align:center">生产环境</th>
						</tr>
						</thead>
						<tbody id="data-table">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<footer id="footer" th:replace="admin/fragments/footer :: footer"></footer>
	</div>
	<script th:src="@{/assets/common/js/jquery.min.js}"></script>
	<script th:src="@{/assets/common/js/skel.min.js}"></script>
	<script th:src="@{/assets/admin/js/main.js}"></script>
	<script th:src="@{/assets/admin/js/util.js}"></script>
	<script th:src="@{/assets/admin/js/index.js}"></script>
</body>
</html>