<!DOCTYPE HTML>
<html>
<head th:replace="admin/fragments/head :: head"></head>
<body>
<div id="wrapper">
    <header id="header" th:replace="admin/fragments/header :: header"></header>
    <nav th:replace="admin/fragments/nav :: nav"></nav>
    <div id="main" style="min-height: 600px">
        <div class="inner">
            <input type="hidden" id="csrId" th:value="${csrId}"/>
            <div class="row uniform">
                <div class="2u">
                    <p><b>方法名称：</b></p>
                </div>
                <div class="10u">
                    <p id="path"></p>
                </div>

                <div class="2u">
                    <p><b>功能描述：</b></p>
                </div>
                <div class="10u">
                    <p id="description"></p>
                </div>

                <div class="2u remarks">
                    <p><b>补充说明：</b></p>
                </div>
                <div class="10u remarks">
                    <p id="remarks"></p>
                </div>

                <div class="2u">
                    <p><b>入参说明：</b></p>
                </div>
                <div class="10u" id="reqInfo">
                    <table style="text-align:center;">
                        <thead>
                        <tr>
                            <th style="text-align:center;">属性名</th>
                            <th style="text-align:center;">类型</th>
                            <th style="text-align:center;">描述</th>
                            <th style="text-align:center; min-width:80px;">必填</th>
                        </tr>
                        </thead>
                        <tbody id="table-reqParams"></tbody>
                    </table>
                </div>

                <div class="2u">
                    <p><b>出参说明：</b></p>
                </div>
                <div class="10u" id="resInfo">
                    <table style="text-align:center;">
                        <thead>
                        <tr>
                            <th style="text-align:center;">属性名</th>
                            <th style="text-align:center;">类型</th>
                            <th style="text-align:center;">描述</th>
                            <th style="text-align:center; min-width:80px;">必填</th>
                        </tr>
                        </thead>
                        <tbody id="table-resParams"></tbody>
                    </table>
                </div>

                <div class="2u reqParamsExample">
                    <p><b>入参举例：</b></p>
                </div>
                <div class="10u reqParamsExample">
                    <pre><code id="reqParamsExample"></code></pre>
                </div>

                <div class="2u resParamsExample">
                    <p><b>出参举例：</b></p>
                </div>
                <div class="10u resParamsExample">
                    <pre><code id="resParamsExample"></code></pre>
                </div>

                <div class="12u$">
                    <ul class="actions" style="float: right;">
                        <li><a id="btn-edit" href="" class="button icon fa-pencil">修改</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <section>
                <h3>相关接口</h3>
                <div class="row">
                    <div class="6u">
                        <h4 id="like-version"></h4>
                        <ul id="like-version-li"></ul>
                    </div>
                    <div class="6u">
                        <h4 id="like-business-area"></h4>
                        <ul id="like-business-area-li"></ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <footer id="footer" th:replace="admin/fragments/footer :: footer"></footer>
</div>
<script th:src="@{/assets/common/js/jquery.min.js}"></script>
<script th:src="@{/assets/common/js/skel.min.js}"></script>
<script th:src="@{/assets/common/js/toastr.min.js}"></script>
<script th:src="@{/assets/admin/js/main.js}"></script>
<script th:src="@{/assets/admin/js/util.js}"></script>
<script th:src="@{/assets/admin/js/csr-view.js}"></script>
</body>
</html>