<!DOCTYPE HTML>
<html>
<head>
<title>登录</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" th:href="@{/assets/public/img/favicon.ico}" />
<link rel="stylesheet" th:href="@{/assets/login/css/main.css}" />
</head>
<body class="is-loading">
	<div id="wrapper">
		<section id="main">
			<header>
				<img th:src="@{assets/public/img/logo_.png}" width="100%;" style="max-width:100px;"/>
				<br><h2>身边医生云平台升级助手</h2>
			</header>
			<hr/>
			<form method="post" th:action="@{/login}" style="padding-top:1em;" id="loginForm">
				<div class="field">
					<input type="text" name="username" id="username" placeholder="用户名" />
				</div>
				<div class="field">
					<input type="password" name="password" id="password" placeholder="密码" />
				</div>
				<div style="color:red; font-style: italic;"  th:if="${param.error}">用户名或密码错误</div>
				<div style="color:red; font-style: italic;"  th:if="${param.logout}">您已注销成功</div>
				<ul class="actions" style="padding-top:1em;">
					<li style="width:50%;float:left;"><a style="width:100%;" href="javascript:;" onclick="document.getElementById('loginForm').submit();return false;" class="button" id="loginBtn">账号登录</a></li>
					<li style="width:50%;float:right;"><a style="width:100%;" th:href="${url}" class="button" id="loginByDingBtn">钉钉登录</a></li>
				</ul>
			</form>
		</section>
		<footer id="footer">
			<ul class="copyright">
				<li>Copyright &copy; 2019 杭州身边医生信息技术有限公司 All Rights Reserved</li>
			</ul>
		</footer>
	</div>
	<script>
		/*<![CDATA[*/
		if ('addEventListener' in window) {
			window.addEventListener('load', function() {
				document.body.className = document.body.className.replace(/\bis-loading\b/, '');
			});
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
			
			document.onkeyup = function (e) {  
			    if (window.event)
			        e = window.event;  
			    var code = e.charCode || e.keyCode;  
			    if (code == 13 && document.getElementById('username').value && document.getElementById('password').value) {  
			    	document.getElementById('loginForm').submit();
			    	return false;
			    }  
			};
		}
		
		window.setTimeout(function(){
			try{
				var t = document.getElementById('username');
				t.focus();
				t.select();
			} catch(e){}
		}, 200);
		/*]]>*/
	</script>

</body>
</html>