<head layout:fragment="head">
    <title>身边医生云平台配置助手</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" th:href="@{/assets/public/img/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/assets/admin/css/main.css}" />
    <link rel="stylesheet" th:href="@{/assets/common/css/toastr.min.css}">
    <link rel="stylesheet" th:href="@{/assets/common/css/asidenav.css}">
</head>